name: Test

on:
  pull_request:
    branches:
      - main
      - release
  push:
    branches:
      - main

jobs:
  test:
    name: Run tests
    runs-on: puzl-ubuntu-latest
    env:
      UV_SYSTEM_PYTHON: 1
      MAX_PARALLEL_DOWNLOAD: 10
    steps:
      - uses: actions/checkout@v5
      - name: Setup UV
        uses: ./.github/actions/setup-uv
      - name: Generate data models
        run: bash kube_models_generator.sh
      - name: Build
        run: uv build --all-packages
      - name: Model test
        run: uv run --isolated --no-project --with dist/kubesdk-*.whl python3 -m unittest discover -v -s packages/kube_models/test
      - name: Check if publishable (dry-run)
        run: uv publish --dry-run
