name: Test

on:
  pull_request:
    branches:
      - main
      - release
  push:
    branches:
      - main

jobs:
  test:
    name: Run tests on Python ${{ matrix.python-version }}
    runs-on: puzl-ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
    env:
      MAX_PARALLEL_DOWNLOAD: 10
    steps:
      - uses: actions/checkout@v5
      - name: Setup UV
        uses: ./.github/actions/setup-uv
        with:
          python-version: ${{ matrix.python-version }}
      - name: Sync UV
        run: uv sync --group test
      - name: Build kubesdk-cli
        run: |
          uv build packages/kubesdk_cli
      - name: Generate data models
        run: bash kube_models_generator.sh
      - name: Build kube-models
        run: uv build packages/kube_models
      - name: Run kube-models tests with coverage
        run: |
          uv run coverage run --parallel-mode -m unittest discover -v -s packages/kube_models/test
      - name: Build kubesdk
        run: uv build packages/kubesdk
      - name: Run kubesdk tests with coverage
        run: |
          uv run coverage run --parallel-mode -m unittest discover -v -s packages/kubesdk/test
      - name: Combine coverage reports
        run: |
          uv run coverage combine
          uv run coverage xml
      #- name: Upload coverage to Coveralls
      #  uses: coverallsapp/github-action@v2
      #  with:
      #    github-token: ${{ secrets.GITHUB_TOKEN }}
      #    path-to-lcov: coverage.xml
      - name: Check if publishable (dry-run)
        run: uv publish --dry-run
