name: "Release"

on:
  push:
    branches:
      - main

jobs:
  run:
    runs-on: puzl-ubuntu-latest
    environment:
      name: puzl
    permissions:
      id-token: write
      contents: read
    env:
      UV_SYSTEM_PYTHON: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup UV
        uses: ./.github/actions/setup-uv
      - name: Build
        run: uv build --all-packages
      #- name: Publish
      #  run: uv publish
      - name: Publish package to private PyPI
        env:
          TWINE_REPOSITORY: puzl
          TWINE_REPOSITORY_URL: ${{ secrets.PYPI_SERVER_URL }}
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: uv publish
        
