name: "Release"

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: puzl-ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    env:
      UV_SYSTEM_PYTHON: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup UV
        uses: ./.github/actions/setup-uv

      - name: Publish kubesdk
        uses: ./.github/actions/publish-package
        with:
          package_name: kubesdk

      - name: Publish kubesdk_cli
        uses: ./.github/actions/publish-package
        with:
          package_name: kubesdk_cli

      - name: Publish kube_models
        uses: ./.github/actions/publish-package
        with:
          package_name: kube_models
          generate_models: 'true'
          commit_and_push: 'true'
          target_repo: 'puzl-cloud/kube-models'
          clone_path: '/tmp/kube_models'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
